:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

body {
  margin: auto !important;
  display: flex;
  place-items: center;
  max-width: 800px;
  min-height: 100vh;
  background-color: #242424 !important;
}

#root{
  width: 100%;
  background-color: #242424;
}

main {
  padding: 1rem;
}

h1{
  font-size: 50px;
  text-transform: uppercase;
}

input, button{
  font-size: 32px;
}

.imgPokemon{
  animation: slide-right 1s forwards;
  filter: brightness(0) invert(1);
}

.showPokemon {
  animation: fadeout 1s ease;
}

.textPokemon{
  animation: slide-left 1s forwards;
}

.inputPokemon{
  animation: slide-right 1s forwards;
}

.returnLink{
  display: block;
  text-decoration: none;
  padding: 20px 0;
  color: #fff;
}

.returnLink:hover{
  text-decoration: none;
  color: #fff;
}

.navBar{
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 500px;
  margin: 0 auto;
}

.linkNavBar{
  border: 1px solid #fff;
  display: block;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  display: flex;
  justify-content: space-between;
}

.btnTry{
  transition: all 0.2s ease-in-out;
}

.linkNavBar:hover .btnTry{
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

@keyframes fadeout {
  from {
    filter: brightness(0) invert(1);
  }
  to {
    filter: none;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}